
.dialog {
    margin-top: 10px;

    display: flex;
    align-items: center;
}

.dialog img {
    max-width: 40px;
    border-radius: 50%;
}

.dialog a {
    margin-left: 10px;
}

.dialog:last-child {
    margin-bottom: 10px;
}
